.notes, .student-name-note {
    display: flex;
    align-items: center;
}

.notes p {
    font-size: smaller;
    margin-bottom: unset;
    margin-right: 15px;
}

.note {
    margin-top: 15px;
    margin-bottom: 15px;
}

.student-name-note p {
    margin: 0 15px 0 0;
}
