<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Material Dashboard Heading</h4>
                <p class="card-category">Created using Roboto Font Family</p>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Typography</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Header 1: The Life of Material Dashboard
                            </h1>
                        </div>
                        <div class="col-12">
                            <h2>
                                Header 2: The Life of Material Dashboard
                            </h2>
                        </div>
                        <div class="col-12">
                            <h3>
                                Header 3: The Life of Material Dashboard
                            </h3>
                        </div>
                        <div class="col-12">
                            <h4>
                                Header 4: The Life of Material Dashboard
                            </h4>
                        </div>
                        <div class="col-12">
                            <h5>
                                Header 5: The Life of Material Dashboard
                            </h5>
                        </div>
                        <div class="col-12">
                            <h6>
                                Header 6: The Life of Material Dashboard
                            </h6>
                        </div>
                        <div class="col-12">
                            <p>
                                Paragraph: I will be the leader of a company that ends up being worth billions of
                                dollars, because I got the answers. I understand culture. I am the nucleus. I think
                                that’s a responsibility that I have, to push possibilities, to show people, this is the
                                level that things could be at.
                            </p>
                        </div>
                        <div class="col-12">
                            Quote:
                            <blockquote class="blockquote">
                                <p>
                                    I will be the leader of a company that ends up being worth billions of dollars,
                                    because I got the answers. I understand culture. I am the nucleus. I think that’s a
                                    responsibility that I have, to push possibilities, to show people, this is the level
                                    that things could be at.
                                </p>
                                <small>
                                    Kanye West, Musician
                                </small>
                            </blockquote>
                        </div>
                        <div class="col-12">
                            Muted Text:
                            <p class="text-muted">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers...
                            </p>
                        </div>
                        <div class="col-12">
                            Primary Text:
                            <p class="text-primary">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers... </p>
                        </div>
                        <div class="col-12">
                            Info Text:
                            <p class="text-info">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers... </p>
                        </div>
                        <div class="col-12">
                            Success Text:
                            <p class="text-success">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers... </p>
                        </div>
                        <div class="col-12">
                            Warning Text:
                            <p class="text-warning">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers...
                            </p>
                        </div>
                        <div class="col-12">
                            Danger Text:
                            <p class="text-danger">
                                I will be the leader of a company that ends up being worth billions of dollars, because
                                I got the answers... </p>
                        </div>
                        <div class="col-12">
                            <h2>
                                Small Tag: Header with small subtitle
                                <br>
                                <small>Use "small" tag for the headers</small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
