<div class="container">
    <div class="row h">
        <div class="col-12 my-auto">
            <div class="col-12 text-center">
                <h1>Student Grades Management</h1>
                <h3>Register</h3>
            </div>
            <form [formGroup]="registerForm" (submit)="submitRegister()" (keyup.enter)="submitRegister()">
                <div class="row">
                    <div class="col-sm-12 offset-md-3 col-md-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Email</mat-label>
                            <label for="inputEmail"></label>
                            <input formControlName="inputEmail" id="inputEmail" matInput type="email">
                        </mat-form-field>
                        <app-control-messages [control]="registerForm.get('inputEmail')"></app-control-messages>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Code</mat-label>
                            <label for="inputCode"></label>
                            <input formControlName="inputCode" id="inputCode" matInput type="number">
                        </mat-form-field>
                        <app-control-messages [control]="registerForm.get('inputCode')"></app-control-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 offset-md-3 col-md-3">
                        <mat-form-field appearance="standard">
                            <mat-label>First Name</mat-label>
                            <label for="inputFirstName"></label>
                            <input formControlName="inputFirstName" id="inputFirstName" matInput type="text">
                        </mat-form-field>
                        <app-control-messages [control]="registerForm.get('inputFirstName')"></app-control-messages>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Last Name</mat-label>
                            <label for="inputLastName"></label>
                            <input formControlName="inputLastName" id="inputLastName" matInput type="text">
                        </mat-form-field>
                        <app-control-messages [control]="registerForm.get('inputLastName')"></app-control-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 offset-md-3 col-md-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Password</mat-label>
                            <label for="inputPassword"></label>
                            <input formControlName="inputPassword" id="inputPassword" matInput type="password">
                        </mat-form-field>
                        <app-control-messages [control]="registerForm.get('inputPassword')"></app-control-messages>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Confirm Password</mat-label>
                            <label for="inputConfirmPassword"></label>
                            <input formControlName="inputConfirmPassword" id="inputConfirmPassword" matInput
                                   type="password">
                        </mat-form-field>
                        <app-control-messages
                                [control]="registerForm.get('inputConfirmPassword')"></app-control-messages>
                    </div>
                </div>
                <div *ngIf="error" class="col-12 text-center">
                    <p class="invalid-feedback">Email or Code already in use!</p>
                </div>
                <button class="btn btn-success mx-auto" mat-raised-button type="submit">Register</button>
                <div class="clearfix"></div>
            </form>
            <div class="col-12 text-center">
                <a routerLink="/login" href="">Login</a>
            </div>
        </div>
    </div>
</div>
